
.slick-dots li{
   border: 2px solid #FB2E86;
    width: 10px !important;
    height: 10px;
    border-radius: 50%;
    overflow: hidden;

}
.slick-dots li.slick-active {
    background-color: #FB2E86 !important;
}
