.slick-dots button::before{
    color: #FEBAD7 !important;
    width: 100% !important;
}
.slick-dots li{
    background-color: #FEBAD7;
    width: 50px !important;
}
.slick-dots li.slick-active {
    background-color: #FB2E86 !important;
}
.slick-dots li.slick-active button::before {
    color: transparent !important;
}